html {
  font-size: 16px;
  font-family: 'Monoton', cursive;
  }
body {
  /*background-color: beige;*/
text-align: left;
background-color: hsla(150,0%,75%,0.3);

}
.header{
  background-color: white;
  width: 98%;
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  box-shadow: 0 0 20px 1px rgba(0, 0, 0, 0.3);
  margin:0;
  position: fixed;
  z-index: 10000;
  top: 0rem;
  font-family: 'Sanchez', serif;
  font-weight: bolder;
  font-size: 2rem;
  left:0;

}
.main {
  position: relative;
  top: 5rem;
  display: flex;
  flex-shrink: 2;
  flex-grow: 2;
  width: 960px;
  justify-content: space-between;
  margin: 0 auto;
}
.hint {
  color: hsla(321,75%,69%,0.99);
}
.instructions , .hint{
font-family: 'Sanchez', serif;


}
.txt {
  margin-top: -1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 89%;

}
span {
  display: none;
  color: yellow;
  transition: all 700ms ease-out;
}
.content {

  display: flex;
  flex-direction: column;
  position: relative;
  padding:.75rem;

  max-width: 70%;
  height: auto;
  border: none;
}
  .row {
    width: 100%;
    height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  margin:0 auto;
}


.box {
  display: flex;
  flex-direction: column;
  margin: .5rem;
  width: 15rem;
  height: 15rem;
  justify-content: center;
  align-items: center;
  font-size: 3rem;
  color: white;
  border-radius: 6px;
  box-shadow: 0 0 20px 1px rgba(0, 0, 0, 0.3);
}

.bx1 {
  background-color: #22D9A3;
}

.bx2{
  background-color: #23E3E1;

}
.bx3{
  background-color: #2AA3CC;
}


.bx4 {
  background-color: #2380E3;
}
.bx5 {
  background-color: #224AD9;
}
/*backup color

.box {
  background-color: firebrick;
}
*/

/*animation and transition*/
a {
  text-decoration: none;
  transition: all 700ms ease-out;

}
/* when hover; letter*/

.box:hover {
  font-size: 8rem;
}
/* hint under letter*/
.box:hover span{
  display: block;
  font-size: .69rem;
  opacity: .9;
  text-shadow: .1rem .1rem darkgrey;
  font-family: 'Press Start 2P', cursive;
  position: relative;
  top: -1rem;
  padding: 0.5rem;

}
.box:active span{
  display: none;

}


/* when active; letter*/
.box:active {
  color: yellow;
  font-size: 12rem;

}
/* when hovering; box */

.bx1:hover{
  background-color: hsla(321,75%,55%,0.99);
 width:16rem;
 height: 16rem;
}
.bx2:hover{
  background-color: hsla(321,75%,65%,0.99);
  width:16rem;
  height: 16rem;
}
.bx3:hover{
  background-color: hsla(321,75%,69%,0.99);
  width:16rem;
  height: 16rem;
}
.bx4:hover{
  background-color: hsla(321,75%,77%,0.99);
  width:16rem;
  height: 16rem;
}
.bx5:hover{
  background-color: hsla(321,75%,87%,1);
  width: 16rem;
  height: 16rem;
}


.bx1:active {
  background-color: hsl(151,86%,55%);
  background-image: url("https://cdn.vox-cdn.com/thumbor/8fRvxQChJpgzkvf2uTZdgL2p1CM=/0x129:2342x1690/1200x800/filters:focal(0x129:2342x1690)/cdn.vox-cdn.com/uploads/chorus_image/image/47372750/IGP_CaptainAmerica_FirstAvenger.0.0.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}
#a:visited {
  opacity:0.5;
  background-image: url("https://cdn.vox-cdn.com/thumbor/8fRvxQChJpgzkvf2uTZdgL2p1CM=/0x129:2342x1690/1200x800/filters:focal(0x129:2342x1690)/cdn.vox-cdn.com/uploads/chorus_image/image/47372750/IGP_CaptainAmerica_FirstAvenger.0.0.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

.bx2:active{
  background-color: hsla(151,86%,65%,0.99);
  background-image:
}

.bx3:active{
  background-color: hsla(151,86%,69%,0.99);
}
.bx4:active{
  background-color: hsla(151,86%,77%,0.99);
}
.bx5:active{
  background-color: hsla(151,86%,87%,1);
}

/* letter specific */
.b:active {
  background-image: url("https://pbs.twimg.com/media/DB-HbbNUMAEnmSR.jpg:large");
  background-size: cover;
  background-repeat: no-repeat;
}
.c:active {
  background-image: url("https://pixel.nymag.com/imgs/daily/vulture/2017/06/23/23-michelle-pfeiffer-catwoman.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: right;
}
.d:active {
  background-image: url("https://static0.srcdn.com/wp-content/uploads/2017/02/Deadpool-Heart-Weakness.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.e:active {
  background-image: url("http://media.socastsrm.com/wordpress/wp-content/blogs.dir/679/files/2017/11/1eb3828f56b56e8299ad0a7740c560d8_abc-family-25-days-of-christmas-2016-schedule-25-days-of-buddy-the-elf-clipart_1400-1494.jpeg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.f:active {
  background-image: url("https://vignette.wikia.nocookie.net/uma-familia-da-pesada/images/b/b0/Peter_griffin_family_guy_30_by_frasier_and_niles-d914sna.jpg/revision/latest?cb=20160319172202");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.g:active {
  background-image: url("https://2.bp.blogspot.com/-pIVX81bpv4g/WRyfIotrRzI/AAAAAAAB6_s/y_uIh5c898QKwXPgi4X7MoDkBNKLnILOwCLcB/s1600/67929ce1-bab1-4f54-b5af-e6df9b44642b_1.1020cd3b8c2bd4c5128e421103ad3ddc.jpeg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position:top;
}
.h:active {
  background-image: url("https://images3.alphacoders.com/242/242937.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.i:active {
  background-image: url("https://i.pinimg.com/736x/88/4b/c7/884bc7cd2f4e0a733e1ab31b11d39796--best-phone-phone-wallpapers.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
}
@media only screen
  and (min-device-width: 320px)
  and (max-device-width: 480px)
  { /* smartphones, portrait iPhone, portrait 480x320 phones (Android) */
  .main {
    flex-direction: column;
    align-items: center;
    margin: 0;

  }
}
