html {
  font-size: 16px;
  }
body {
  /*background-color: beige;*/


}
.main {
  display: flex;
}
.content {

  display: flex;
  flex-direction: column;
  position: relative;
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
  flex-shrink: 2;
  flex-grow: 2;
}
  .row {
    width: 100%;
    height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  margin:0 auto;
}


.box {
  display: flex;
  margin: .25rem;
  width: 15rem;
  height: 15rem;
  justify-content: center;
  align-items: center;
  font-size: 3rem;
  color: white;
}

a#a {
  background-color: #22D9A3;
}

#b ,#d{
  background-color: #23E3E1;

}
#c ,#e ,#g{
  background-color: #2AA3CC;
}


#f ,#h {
  background-color: #2380E3;
}
#i {
  background-color: #224AD9;
}
/*backup color*/

.box {
  background-color: firebrick;
}
/*animation and transition*/
a {
  text-decoration: none;
}
.box:hover {
  color: lightgrey;
  font-size: 8rem;
}

.box:active {
  color: yellow;
  font-size: 12rem;
}
#a:hover{
  background-color: black;
}
